<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class="Titre">Liste des lancements</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="changeOrder()">
				<ion-icon name="md-funnel"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-searchbar (ionInput)="getFilter($event)"></ion-searchbar>
	<ion-card *ngFor="let launch of filter; let i = index">
		<ion-card-header class="createur_spice">
			<span>{{ launch.mission_name }}</span>
		</ion-card-header>
		<img src="{{ launch.links.mission_patch }}" alt="">
		<ion-card-content>
			<div>Flight Number :
				<strong>{{ launch.flight_number }}</strong>
			</div>
			<div>Launch Date :
				<strong>{{ launch.launch_date_utc | date : 'dd/MM/yyyy' }}</strong>
			</div>
			<div>Success :
				<ion-badge [color]="launch.launch_success ? 'secondary' : 'danger'">{{ launch.launch_success ? "Yes" : "No" }}</ion-badge>
			</div>
			<div>Details :
				<strong>{{ launch.details != null ? launch.details : "No Details" }}</strong>
			</div>
			<button ion-button block (click)="getLaunchDetails(launch)">More informations</button>
		</ion-card-content>
	</ion-card>
</ion-content>