<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div *ngIf="core">
			<ion-title class="Titre">{{ core.core_serial }}</ion-title>
		</div>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="core">
		<ion-card>
			<ion-card-header class="createur_spice">
				<span>{{ core.core_serial }}</span>
			</ion-card-header>
			<ion-card-content>
				<div>Rtls attempt :
					<ion-badge [color]="core.rtls_attempt ? 'secondary' : 'danger'">{{ core.rtls_attempt ? "Yes" : "No" }}</ion-badge>
				</div>
				<div>Asds attempt :
					<ion-badge [color]="core.asds_attempt ? 'secondary' : 'danger'">{{ core.asds_attempt ? "Yes" : "No" }}</ion-badge>
				</div>
				<div>Water landing :
					<ion-badge [color]="core.water_landing ? 'secondary' : 'danger'">{{ core.water_landing ? "Yes" : "No" }}</ion-badge>
				</div>
				<div>Details :
					<strong>{{ core.details }}</strong>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>