<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title class="Titre">Liste des lancements</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-searchbar (ionInput)="getFilter($event)"></ion-searchbar>
	<ion-card *ngFor="let core of filter; let i = index">
		<ion-card-header class="createur_spice">
			<span>{{ core.core_serial }}</span>
		</ion-card-header>
		<ion-card-content>
			<div>Flight Number :
				<strong>{{ core.flight_number }}</strong>
			</div>
			<div>Original launch :
				<strong>{{ core.original_launch | date : 'dd/MM/yyyy' }}</strong>
			</div>
			<div>Details :
				<strong>{{ core.details != null ? core.details : "No Details" }}</strong>
			</div>
			<button ion-button block (click)="getCoreDetails(core)">More informations</button>
		</ion-card-content>
	</ion-card>
</ion-content>